body {
    height: 100vh;
    margin: 0;
    background-color: $bg-color;
    color: $fg-color;
    font-family: 'Roboto', sans-serif;
}

#App {
    height: 100%;
}

.render_container,
.app {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

main {
    width: inherit;
    padding: 12px 12px 12px 12px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    header {
        border-bottom: 1px solid #efefef;

        h1 {
            display: flex;
            align-items: center;
            transform: translateX(-20px);
        }
    }

    footer {
        margin-top: auto;
        color: #888;
        text-align: center;

        a {
            text-decoration: none;
            color: #888;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .main_content_container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: hidden;


        .main_view_content {
            flex: 1;
        }

        .main_view_footer {
            height: fit-content;
            transition: display 1.5s linear;

            &_hidden {
                display: none;
            }
        }
    }

    .canvas_container {
        width: 98%;
        align-self: center;
        margin: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@import 'video';
@import 'pointcloud';
@import 'lanes';
@import 'channel';