$theme-colors: (
    'info': $magenta-fg-color,
    'primary': $magenta-fg-color,
    'secondary': $dark-fg-color,
);

.btn {
    margin-left: 4px;
    margin-right: 4px;
}



@import '~bootstrap/scss/bootstrap';

