main {
    .channel_container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .channel_map {
//            height: 50%;
            width: 100%;

            .leaflet-container {
                height: 160px;
            }
        }

        .channel_charts {
//            height: 100%;
            width: 100%;
        }
    }


}