.headbar {
    width: 100%;
}

.headbar_jumbotron {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.6) 100%), url(../images/jmb_bg.jpg);
    background-color: $bg-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 53%;
    height: 300px;
    transition: all 1.5s;
}

.headbar_jumbotron_smaller {
    @extend .headbar_jumbotron;

    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0rem;
}