.job_list {
    color: $fg-color;

    >.job_list_item {
        background: $dark-fg-color;
    }
}

.list-group-item-secondary {
    color: $magenta-fg-color;
}
    


#job_status_chart {
    height: inherit;
    width: inherit;
}