main {
    .lanes_viewer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .lanes_viewer_controls {
            display: flex;

            .left_controls {
                display: flex;
                justify-content: left;
                overflow: hidden;
                width: 2%;

                .play_button {
                    float: left;
                }
            }

            .center_controls {
                display: flex;
                justify-content: center;
                overflow: hidden;
                position: relative;
                width: 98%;

                .left_buttons {
                    float: left;
                }

                .indicator {
                    .dot {
                        @include mdot(10px, 5px, $dark-fg-color);
                        transform:scale(1.0,1.0);

                        &.active {
                            background: $magenta-fg-color;
                        }
                    }
                }

                .right_buttons {
                    float: right;
                }
            }

            .right_controls {
                display: flex;
                justify-content: right;
                overflow: hidden;
                position: relative;
                width: 0%;

            }
        }
    }
}