$loader-bg-color: #a3a3a3;
$loader-fg-color: $magenta-fg-color;

.loader_container {
    text-align: center;
}

.loader {
    border: 2px solid $loader-bg-color;
    border-top: 2px solid $loader-fg-color;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
}

#loading_screen {
    width: 100%;
    background-color: #000000;
    opacity: 1;
    transition: 2s opacity;
}

#loader {
    display: flex;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: darken($loader-fg-color, 15%);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: darken($loader-fg-color, 10%);
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    &:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $loader-fg-color;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}