$sidebar-bg-color: #2d2d2d;
$icon-bg-color: #1d1d1d;

.sidebar_header_logo {
    text-align: center;
    padding: 12px;
}

.close_menu_button_left {
    text-align: right;
}

.close_menu_button_right {
    text-align: left;
}

.vehicle_menu_item {
    text-align: left;
    font-size: smaller;
    font-weight: bold;
}

.channel_menu_item {
    @extend .vehicle_menu_item;
    text-align: left;
    font-size: smaller;
    .info_item {
        font-size: x-small;
        font-weight: bold;
        word-wrap: break-word;
    }
}

.vehicle_menu_item.hidden {
    display:none
}

.channel_menu_item.hidden {
    @extend .vehicle_menu_item.hidden;
}

@mixin sidebar {
    @extend .pro-sidebar;
}

.left-side-bar {
    @include sidebar;
}

.right-side-bar {
    @include sidebar;
    position: absolute;
    right: 0px;
    transition: width, right, left, 0.3s !important;
}

.sidebar_search {
    input.form-control {
        background-color: $dark-fg-color;
        border-color: lighten($dark-fg-color, 10%);
        color: $fg-color;
    }

    input::placeholder {
        color: darken($fg-color, 20%);
    }

    button.btn {
        background-color: $magenta-fg-color;
        border: 1px solid darken($magenta-fg-color, 10%);
        margin: auto;
    }
}


// dont move this import to another position
// https://github.com/azouaoui-med/react-pro-sidebar#custom-styling
@import '~react-pro-sidebar/dist/scss/styles.scss';

.pro-sidebar.collapsed, .collapsed.left-side-bar, .collapsed.right-side-bar {
    width:105px;
}

.pro-sidebar {
    min-width:325px
}