@import '~nouislider/distribute/nouislider.css';

.noUi-target {
    background: darken($dark-fg-color, 10%);
    border: 0;
    box-shadow: none;
}

.range_slider_container {
    height: 80px;

    #no_ui_slider {
        display: flex;
        height: 20px;
        width: inherit;
        margin: 10px;

        .noUi-handle {
            background: $magenta-fg-color;
            box-shadow: none;
            border: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            align-self: center;
            top: -1px;
            right: -10px;

            $handles: 'lower', 'upper';
            $handle_sides: 'before', 'after';

            @each $handle in $handles {
                @each $hside in $handle_sides {
                    &-#{$handle}::#{$hside} {
                        height: 0;
                        width: 0;
                    }
                }
            }
        }

        .noUi-connect {
            background: $dark-fg-color;
            border: 0;
        }

        .noUi-marker {
            background: $magenta-fg-color;
        }

        .noUi-value {
            font-size: 10px;
            width: fit-content;
            text-align: center;
            white-space: pre;
        }

        .noUi-pips {
            &-horizontal {
                padding: 3px 0;
            }
        }
    }
}

