$three-js-viewer-heigth: 500px;

@mixin mdot($h, $w, $bg) {
    background: $bg;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: $h;
    width: $w;
    outline: none;
    transform: scale(0.5);
}

@mixin slider_controls($name) {
    
}