main {
    .image_slider {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .image_container {
            align-self: center;
            margin: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            >.loading_img {
                filter: blur(8px);
            }

            >.loaded_img {
                filter: none;
            }
        }

        .image_slider_controls {
            display: flex;
            justify-content: center;
            overflow: hidden;

            .left_controls {
                display: flex;
                justify-content: left;
                overflow: hidden;
                position: relative;
                width: 2.5%;

                .play_button {
                    float: left;
                }
            }

            .center_controls {
                display: flex;
                justify-content: center;
                overflow: hidden;
                position: relative;
                width: 97.5%;

                .left_buttons {
                    float: left;
                }

                .indicator {
                    .dot {
                        @include mdot(10px, 5px, $dark-fg-color);
                        transform:scale(1.0,1.0);
                        &.active {
                            background: $magenta-fg-color;
                        }
                    }
                }

                .right_buttons {
                    float: right;
                }
            }

            .right_controls {
                display: flex;
                justify-content: right;
                overflow: hidden;
                position: relative;
                width: 0%;

            }
        }


    }


}